<div class="container">
  <h4>Inbox</h4>

  <% if @messages.empty? %>
    <p>You have no messages at this time</p>
  <% end %>

  <% @messages.all.each do |message| %>
    <div class="message" >
      
      <%= image_tag User.find(message.sender_id).image, size: "35x35" %> 
      <div style="display:inline-block" id="name<%=message.id%>"><%=link_to User.find(message.sender_id).name, user_match_path(message.receiver_id, message.match_id) %></div>
      <div class = "respond" style="display:inline-block">
        <div class = "<%= message.id %>">
         <%= button_to "Reply","", class: 'btn btn-primary' %>
        </div>
      </div><br/>
      <b>Sent:</b> <div style="display:inline-block" id="time<%=message.id%>"><%= message.updated_at.in_time_zone('Pacific Time (US & Canada)').strftime('%b %y, %Y %I:%M %p PST') %> </div><br/>
      <b>Subject:</b> <div style="display:inline-block" id="title<%=message.id%>"><%=message.title%></div> <br/>
       <div id = "message-text<%= message.id %>"><%= simple_format h(message.body) %></div>
      
    </div>
    <div id ="form<%= message.id %>"></div>
  <% end %>
  
  <div class="message-hidden">
    <%= render partial: 'layouts/messageresponse' %>
  </div>

  <%= paginate @messages %>

</div>

<script>
$(function() {
  $('.respond').click(function(event){
    event.preventDefault();
    $('.message-hidden').toggle();
    var message =  $(this).children().attr('class');
    $(".message-hidden").appendTo("#form"+message);
    $(".container").find("#message_title").val("Re: " + $(".container").find("#title"+message).text())
    $(".container").find("#message_body").val("\n___________________\n" +"On "+ $(".container").find("#time"+message).text() +" "+$(".container").find("#name"+message).text()+" wrote:\n"+ $(".container").find("#message-text"+message).text())
    $(".container").find("#message_id").val(message)
  });
});  
</script>
