<div class="container">

  <h4>Sent Messages </h4>

  <% if @messages.empty? %>
    <p>You have no sent messages at this time</p>
  <% end %>

  <% @messages.all.each do |message| %>
  <div class="message">
    <%= image_tag User.find(message.receiver_id).image, size: "35x35" %> <%=link_to User.find(message.receiver_id).name, user_match_path(message.sender_id, message.match_id) %><br/>
    <b>Sent:</b> <%= message.updated_at.in_time_zone('Pacific Time (US & Canada)').strftime('%b %y, %Y %I:%M %p PST') %><br/>
    <b>Subject:</b> <%= message.title %><br/>
    <%= simple_format h(message.body) %>
   </div>
  <% end %>

  <%= paginate @messages %>
</div>
