<p><%= @first_user.first_name %> and <%= @second_user.first_name %>,</p>

<p>Congrats! Both of you expressed interest in meeting up.</p>

<div>
  <div style="display: inline-block; margin-right: 7px">
    <div><%= image_tag @first_user.image, size: '150x150', alt: 'Profile Picture' %></div>
    <div><%= @first_user.name %></div>
    <div><%= @first_user.headline %></div>
  </div>

  <div style="display: inline-block"></div>

  <div style="display: inline-block">
    <div><%= image_tag @second_user.image, size: '150x150', alt: 'Profile Picture' %></div>
    <div><%= @second_user.name %></div>
    <div><%= @second_user.headline %></div>
  </div>
</div>

<% if @shared_connections_count > 1 %>
  <p>You have <b><%= @shared_connections_count %> shared connections</b> on LinkedIn, and both of you are located in the <%= @first_user.location.area.split(",").first %>.</p>
<% else %>
  <p>Both of you are located in the <%= @first_user.location.area.split(",").first %>.</p>
<% end %>

<p><%= @second_user.first_name %> — Thanks for responding first to the SwiftIntro!</p>

<p><b><%= @first_user.first_name %> — Why don't you get the ball rolling by suggesting a time and place to meet this week?</b></p>

<p>Cheers,</p>
<p>The SwiftIntro Team</p>
