<p>Hi <%= @first_user.first_name %>,</p>

<p>We found someone that you should consider meeting.</p>

<div style="display: inline-block">
  <div><%= image_tag @second_user.image, size: '150x150' %></div>
  <div><%= @second_user.name %></div>
  <div><%= @second_user.headline %></div>
</div>

<div style="font-size:18px">
  <p><%= link_to "See #{@second_user.first_name}'s profile", root_url %></p>
</div>

<p>-The SwiftIntro Team</p>
