<p>Hi <%= @first_user.first_name %>,</p>

<p>We found someone that you should consider meeting.</p>

<div style="display: inline-block">
  <div><%= image_tag @second_user.image, size: '150x150', alt: 'Profile Picture' %></div>
  <div><%= @second_user.name %></div>
  <div><%= @second_user.headline %></div>
</div>

<div>
  <strong><p>It should take less than 10 seconds to decide if you would like an intro, so click on the button below!</p></strong>
</div>

<div>
  <p><%= link_to "See #{@second_user.first_name}'s Profile", root_url, {:style => "background-color:#2b669a;border:1px solid #1e3650;border-radius:4px;color:#ffffff;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:40px;text-align:center;text-decoration:none;width:250px;-webkit-text-size-adjust:none;mso-hide:all;"} %></p>
</div>

<p>-The SwiftIntro Team</p>
