<h3>Potential matches for <%= @user.name %></h3>

<div class="container">
  <table class="table">
    <thead>
      <th>Potential matches</th>
      <th>Shared connections</th>
    </thead>
    <tbody>
      <% @potential_matches.each_with_index do |potential_match, index| %>
        <tr>
          <td><%= potential_match.name %></td>
          <td><%= potential_match.score %></td>
          <td><%= @shared[index] %></td>
          <td><%= button_to "Create Match", user_matches_path(@user, user_1: @user.id, user_2: potential_match.id), method: 'post', class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
