<div class="container">
  <h5>Potential matches for <%= @user.name %>. Score: <%= @user.score %>,
    <% if @user.industry_interests %>
      Industry Interests: <% @user.industry_interests.each do |industry_interest| %>
        <%= industry_interest.industry.name %>
      <% end %>
    <% end %>
  </h5>

  <table class="table">
    <thead>
      <th>Potential match</th>
      <th>Industry</th>
      <th>User Score</th>
      <th>Shared Skills</th>
      <th>Shared Connections</th>
    </thead>
    <tbody>
      <% @potential_matches.each_with_index do |potential_match, index| %>
        <tr>
          <td><%= link_to potential_match.name, user_path(potential_match) %></td>
          <% if potential_match.industry %>
            <td><%= potential_match.industry.name %></td>
          <% else %>
            <td></td>
          <% end %>
          <td><%= potential_match.score %></td>
          <td><%= @shared_skills[index] %></td>
          <td><%= @shared_connections[index] %></td>
          <td><%= button_to "Create Match", user_matches_path(@user, user_1: @user.id, user_2: potential_match.id), method: 'post', class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
