<div class="container">
  <%= form_for @user do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this event from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <h4>Which industry best describes your line of work?</h4>
      <%= f.collection_select(:industry_id, Industry.all.sort, :id, :name, include_blank: true) %>
    </div>

    <div class="form-group">
      <h4> Who are you interested in meeting? Professionals in: </h4>
      <% Industry.all.sort.each do |industry| %>
        <% checked = current_user.industry_interests.pluck(:industry_id).include?(industry.id) %>
          <div class="checkbox">
            <label>
              <%= check_box_tag("industry_interests[]", industry.id, checked) %> <%= industry.name %>
            </label>
          </div>        
      <% end %>
    </div>

    <div class="form-group">
      <h4>Please write a one sentence summary that describes you (optional)</h4>
      <%= f.text_field :summary, class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4>Please describe what you’re looking for (e.g., general networking, job opportunities, technical co-founder, mentorship, etc.). The more specific your response the better. Please note that potential matches will be able to see your response on your profile page.</h4>
      <%= f.text_area :seeking, class: 'form-control' %>
    </div>

    <%= f.submit "Submit", class:"btn btn-primary" %>
  <% end %>
</div>
