<div class="container">
  <%= form_for @user do |f| %>

    <% if @user.errors.any? %>
      <div id="error-explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@user.errors.count, "error") %>.
        </div>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li>* <%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <h4>Which industry best describes your line of work?</h4>
      <%= f.collection_select(:industry_id, Industry.all.sort_by(&:name), :id, :name, include_blank: true) %>
    </div>

    <div class="form-group">
      <h4> Who are you interested in meeting? Professionals in: </h4>
      <% Industry.all.sort_by(&:name).each do |industry| %>
        <% checked = current_user.industry_interests.pluck(:industry_id).include?(industry.id) %>
          <div class="checkbox">
            <label>
              <%= check_box_tag("industry_interests[]", industry.id, checked) %> <%= industry.name %>
            </label>
          </div>        
      <% end %>
    </div>

    <div class="form-group">
      <h4> What types of connections are you looking to make? </h4>
      <% Topic.all.each do |topic| %>
        <% checked = current_user.topic_interests.pluck(:topic_id).include?(topic.id) %>
          <div class="checkbox">
            <label>
              <%= check_box_tag("topic_interests[]", topic.id, checked) %> <%= topic.name %>
            </label>
          </div>        
      <% end %>
    </div>

    <div class="form-group">
      <h4>Please write a short summary that describes you (example: Lawyer with an interest in corporate M&A).</h4>
      <%= f.text_area :summary, class: 'form-control' %>
    </div>

    <div class="form-group">
      <h4>Please describe in more detail what you’re looking for (e.g., people interested in big data, technical co-founder, etc.).</h4>
      <%= f.text_area :seeking, class: 'form-control' %>
    </div>

    <%= f.submit "Submit", class:"btn btn-primary" %>
  <% end %>
</div>
