<div class="container">
  <%= form_for @user do |f| %>

    <% if @user.errors.any? %>
      <div id="error-explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@user.errors.count, "error") %>.
        </div>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li>* <%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-4">
        <h4>Would you like to meet people over:</h4>
        <% Meeting.all.sort.each do |meeting| %>
          <% checked = current_user.meeting_interests.pluck(:meeting_id).include?(meeting.id) %>
            <div class="checkbox">
              <label style="font-weight:normal">
                <%= check_box_tag("meeting_interests[]", meeting.id, checked) %> <%= meeting.name %>
              </label>
            </div>        
        <% end %>
      </div>

      <div class="col-md-4">
        <h4>Which industries are you interested in?</h4>
      
        <% Industry.all.sort_by(&:name).each do |industry| %>
          <% checked = current_user.industry_interests.pluck(:industry_id).include?(industry.id) %>
            <div class="checkbox">
              <label style="font-weight:normal">
                <%= check_box_tag("industry_interests[]", industry.id, checked) %> <%= industry.name %>
              </label>
            </div>        
        <% end %>
      </div>

      
    </div>

    <div class="form-group row">
      <h4>Introduce your professional self. Other users are 40% more likely to request an intro to you if you include a short summary.</h4>
      <%= f.text_area :summary, class: 'form-control', :placeholder => "Example: Product Manager with an interest in web and mobile development" %>
    </div>

    <%= f.submit "Submit", class:"btn btn-primary" %>
  <% end %>
</div>
