<div class="container">
  <%= form_for @user do |f| %>

    <% if @user.errors.any? %>
      <div id="error-explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@user.errors.count, "error") %>.
        </div>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li>* <%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row">
      <h4>What industries are you interested in? </h4>
      <div class="col-md-8">
        <% Industry.all.sort_by(&:name).each do |industry| %>
          <% checked = current_user.industry_interests.pluck(:industry_id).include?(industry.id) %>
            <div class="checkbox-inline">
              <label style="font-weight:normal">
                <%= check_box_tag("industry_interests[]", industry.id, checked) %> <%= industry.name %>
              </label>
            </div>        
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <h4>Optional: Please write a short summary that describes you (example: Product Manager with an interest in web and mobile development).</h4>
      <%= f.text_area :summary, class: 'form-control' %>
    </div>

    <div class="form-group row">
      <h4>Optional: Please describe in more detail who you are interested in meeting (e.g., people interested in big data, renewable energy, etc.).</h4>
      <%= f.text_area :seeking, class: 'form-control' %>
    </div>

    <%= f.submit "Submit", class:"btn btn-primary" %>
  <% end %>
</div>
