<script src="//platform.twitter.com/widgets.js"></script>

<div class="container">

  <p>To access these premium features you must sign up 5 or more users using your personal link: 
    <b>www.swiftintro.com/<%=@user.uid%></b>

    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Sign up for the @SwiftIntro beta to meet one like-minded professional a week: swiftintro.com/<%=@user.uid%>" data-url="swiftintro.com" data-count="none">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </p>


  <%= form_for @user do |f| %>

    <% if @user.errors.any? %>
      <div id="error-explanation">
        <div class="alert alert-danger">
          The form contains <%= pluralize(@user.errors.count, "error") %>.
        </div>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li>* <%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <h4>How many matches would you like per week?</h4>
      <%= f.select :number_of_matches, options_for_select([@user.number_of_matches, @alternative]) %>
    </div>

    <div class="form-group">
      <h4>Display a premium badge on your profile and increase your chance of being matched with premium users</h4>
      <%= image_tag 'premium_badge.jpg', size: '70x60' %>
      <%= f.check_box(:badge) %>
    </div>

    <div class="form-group">
      <h4>If you are interested in receiving suggested matches in additional cities, please select which ones below:</h4>
      <% @select_cities.each do |location| %>
        <% checked = current_user.location_interests.pluck(:location_id).include?(location.id) %>
          <div class="checkbox">
            <label>
              <%= check_box_tag("location_interests[]", location.id, checked) %> <%= location.area %>
            </label>
          </div>        
      <% end %>
    </div>

    <%= f.submit "Submit", class:"btn btn-primary" %>
  <% end %>
</div>
