<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <th>Name</th>
      <th>Profile Picture</th>
      <th>Headline</th>
    </thead>

    <tbody>
      <% @matches.reverse.each do |match| %>
        <% if current_user.id == match.first_user_id %>
          <tr>
            <td><%= link_to match.second_user.name, user_match_path(match.second_user, match) %></td>
            <td><%= image_tag match.second_user.image, size: "30x30", alt: 'Profile Picture' %></td>    
            <td><%= match.second_user.headline %></td> 
          </tr>
        <% else %>
          <tr>
            <td><%= link_to match.first_user.name, user_match_path(match.first_user, match) %></td>
            <td><%= image_tag match.first_user.image, size: "30x30", alt: 'Profile Picture' %></td>   
            <% if match.first_user.industry %>
            <td><%= match.first_user.industry.name %></td>
            <% else %>
            <td></td>
            <% end %>
            <td><%= match.first_user.headline %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
