<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-2">
      <%= image_tag @user.image, size: "140x140" %>
    </div>

    <div class="col-md-3">
      <h3><%= @user.name %></h3>
      <h4><%= @user.headline %></h4>
      <h4><%= @user.location.area %></h4>
      <h4><%= link_to "LinkedIn Profile", @user.public_profile, target: 'blank' %></h4>
    </div>
  </div>

  <div class="row">
    <% if @user.summary && !@user.summary.empty? %>
      <div class="summary col-md-offset-3">
        <h3>Summary</h3>
        <p><%= @user.summary %></p>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="education-info col-md-offset-3">
      <h3>Education</h3>
      <ul>
        <% @user.educations.each do |education| %>
          <li><%= education.school.name %></li>
          <% if education.subject && !education.subject.name.nil? %>
            <ul>
              <li><%= education.degree.name %> <%= education.subject.name %></li>
            </ul>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="work-experience col-md-offset-3">
      <h3>Work Experience</h3>
      <ul>
        <% @user.jobs.each do |job| %>
          <li><%= job.company.name %>, <%= job.position.name %> </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-3">
      <%= button_to "Yes", user_match_path(current_user, @match, decision: true), method: 'patch', class: 'btn btn-success btn-lg col-xs-1' %>
      <%= button_to "No", user_match_path(current_user, @match, decision: false), method: 'patch', class: 'btn btn-danger btn-lg col-xs-1 col-xs-offset-2' %>
    </div>
  </div>
</div>
