<div class="container">
  <%= render partial: 'layouts/profile' %>

  <% if current_user.id == @match.first_user_id && @match.first_user_status == "pending" %>
    <%= render partial: 'matches/decision_buttons' %>
  <% elsif current_user.id == @match.second_user_id && @match.second_user_status == "pending" %>
    <%= render partial: 'matches/decision_buttons' %>
  <% elsif @match.status == true %>
  <%= render partial: 'layouts/message' %>
  <% end %>

  <%= render partial: 'layouts/message' %>
  
</div>
