<div class="container">
  <%= render partial: 'layouts/profile' %>

  <% if current_user.id == @match.first_user_id && @match.first_user_status == "pending" %>
    <%= render partial: 'matches/decision_buttons' %>
  <% elsif current_user.id == @match.second_user_id && @match.second_user_status == "pending" %>
    <%= render partial: 'matches/decision_buttons' %>
  <% elsif @match.match_status == true %>
    <div class="message-click center">
      <%= button_to "Send Message", "", class: 'btn btn-primary btn-lg' %>
    </div>
    <div class="message-hidden">
      <%= render partial: 'layouts/message' %>
    </div>
  <% else %>
    <div class="response-received center text-info">
      <h4>Thanks for submitting your response. You will receive an email if both users request an intro.</h4>
    </div> 
  <% end %>  
</div>

<script>
$(function() {
  $('.message-click').click(function(event){
    event.preventDefault();
    $('.message-hidden').toggle();
  });
});  
</script>
