<div class="contact center">
  <%= link_to "Home", root_path %> |
  <%= link_to "Blog", 'http://blog.swiftintro.com/', target: 'blank' %> |
  <%= link_to "FAQ", faq_path %> |
  <%= link_to "Contact Us", contact_path %> |
  <%= link_to "Privacy", privacy_path %> |
  <%= link_to "Terms", terms_path %> 
  <p>&copy; SwiftIntro 2014</p>
</div>

