<div class = "new-message">
<%= form_for [@user, @message], :url => { :action => :send_message } do |f| %>
    <%= f.label :Subject %>:
    <%= f.text_field :title, class: 'form-control' %><br />

    <%= f.label :Message %>:
    <%= f.text_area :body, class: 'form-control' %><br />
    
    <%= hidden_field_tag :message_id, "" %>
    
    <%= f.submit "Submit", class:"btn btn-primary" %>

  <% end %>
</div>