<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <div class="row center">
      <%= link_to @user.public_profile, target: 'blank' do %>
        <%= image_tag @user.image, size: "250x250", alt: 'Profile Picture', class:'profile-picture' %>
      <% end %>
    </div>
    <div class="row center">
      <h2><%= @user.name %></h2>
      <h4><%= @user.headline %></h4>
      <h4><%= @user.location.area %></h4>

      <% if @user.badge %>
        <%= image_tag 'premium_badge.png', size: '70x60' %>
      <% end %>

      <div class="linkedin-box">
        <h4>
          <%= link_to @user.public_profile, target: 'blank' do %>
            <%= image_tag 'https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png', size: '30x22' %> View My Profile
          <% end %>
        </h4>

        <% if @user.total_connections && @user.total_connections > 4999 %>
          <h5>Total Connections: 5000+</h5>
        <% elsif @user.total_connections && @user.total_connections > 999 %>
          <h5>Total Connections: 1000+</h5>
        <% elsif @user.total_connections && @user.total_connections > 499 %>
          <h5>Total Connections: 500+</h5>
        <% elsif @user.total_connections && @user.total_connections > 100 %>
          <h5>Total Connections: <%= @user.total_connections %></h5>
        <% end %>

        <% if @match %>
          <%= render partial: 'matches/mutual_connections' %>
        <% end %>
      </div>
    
    </div>
  </div>

  <div class="col-md-6 col-md-offset-1">
    <div class="row">
      <div>
        <% if @user.summary && !@user.summary.empty? %>
          <h3>Professional Summary</h3>
          <p><%= @user.summary %></p>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div>
        <% if !@user.jobs.empty? %>
          <h3>Recent Experience</h3>
          <% @user.jobs.sort.take(5).each do |job| %>
            <p><%= job.company.name %>, <%= job.position.name %> </p>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div>
        <% if !@user.educations.empty? %>
          <h3>Education</h3>
          <% @user.educations.sort.each do |education| %>
            <p><%= education.school.name %>
            <% if education.subject && !education.subject.name.nil? %>
              <%= education.degree.name %> <%= education.subject.name %> <%= education.year %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div>
        <% if !@user.skill_interests.empty? %>
          <h3 id="skills">Skills<%= link_to '▾' %></h3>
          <div id="skill-interests" style="display: none">
            <% @user.skill_interests.sort.each do |skill_interest| %>
              <%= skill_interest.skill.name %> |
            <% end %>
          </div>
        <% end %>
      </div>
    </div>  
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('#skills').click(function(event){
      event.preventDefault();
      $('#skill-interests').toggle();
    });
  }); 
</script>
