<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  
  <title>SwiftIntro</title>

  <%= favicon_link_tag 'SwiftIntroThumbnail.ico' %>

  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>

  <meta property="og:title" content="SwiftIntro" />
  <meta property="og:site_name" content="SwiftIntro" />
  <meta property="og:url" content="https://www.swiftintro.com/" />
  <meta property="og:description" content="The smarter way to build your network" />
  <meta property="og:image" content="http://i.imgur.com/lV43Jof.png" />

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="wrap">
    <% if current_user %>
      <%= render partial: 'layouts/navbar' %>
    <% end %>

    <%= render partial: 'layouts/flash' %>

    <%= yield %>

    <div id="push">
    </div>
  </div>

  <%= render partial: 'layouts/contact_us' %>

  <%= render partial: 'layouts/footer' %>

</body>
</html>
